<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title><%- title || "打印预览" %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <%# 加载自定义 css 和 js %>
    <% if (cssList && cssList.length > 0) { %>
      <% cssList.forEach(function(css){ %>
        <style type="text/css">
          <%- css %>
        </style>
      <% }); %>
    <% } %>
    <% if (jsList && jsList.length > 0){ %>
        <% jsList.forEach(function(css){ %>
            <script type="text/javascript">
                <%- css %>
            </script>
        <% }) %>
    <% } %>
    <script type="text/javascript">
      function thickenFracLines() {
        var fracs = document.getElementsByClassName("frac-line");
        for (k = 0; fracs.length > k; k++) {
          fracs[k].setAttribute("style", "border-bottom-width:0.02em;");
        }
      }
    </script>
</head>

<body>
<div class="container" id="content-box" , style="display: none">
    <div data-op-type="new-page"></div>
    <div data-op-type="pendants">
      <%# 非公开时打印节点信息 %>
      <% if (latticeType && !isCommon) { %>
        <span class='pendant-title'>
          <%= latticeType == 1 ? "勾勾南方节点" : "勾勾北方节点" %>
        </span>
      <% } %>
    </div>
    <%# 打印标题 %>
    <% if (title) { %>
      <div class="title"><%- title %></div>
      <br/>
    <% } %>
    <%# 非公开时打印批阅信息 %>
    <% if(!isCommon) { %>
      <div class='oper-box' style="visibility: hidden;">
        <div>
          作答完成
          <div class='oper-select' data-id="-1" data-pid="" data-type="3"></div>
        </div>
        <div>
          批改完成
          <div class='oper-select' data-id="-2" data-pid="" data-type="3"></div>
        </div>
        <p class="check-area">
          <span class='oper-star'></span>
          作答或批改完成后，请在相应区域内划 “√” ，请谨慎勾选
        </p>
      </div>
    <% } %>
    <%
    /**
     * 检测数组存在
     */
    function existArr(arr) {
      return Array.isArray(arr) && arr.length ? arr : false
    }

    /**
     * 计算总分
     */
    function calScore(list) {
      let totlaScroe = 0
      list && list.map((item) => {
        // 材料组成题目
        if (existArr(item.materialQuestionList)) {
          item.materialQuestionList.map((cItem) => {
            totlaScroe += cItem.score
          })
        } else {
          totlaScroe += item.score
        }
      })
      return totlaScroe
    }

    /**
     * 计算题目数量
     */
    function calQuestionNum(list) {
      let questionNum = 0
      list && list.map((item) => {
        if (existArr(item.materialQuestionList)) {
          item.materialQuestionList.map((cItem) => {
            questionNum += 1
          })
        } else {
          questionNum += 1
        }
      })
      return questionNum
    }

    /**
     * 数字转汉字
     */
    function uppercaseNum(num) {
      let uppercaseArr = [
        '零', '一', '二', "三", "四", "五", '六',
        '七', '八', '九', '十', '十一', '十二', '十三',
        '十四', '十五', '十六', '十七', '十八', '十九', '二十'
      ]
      let uppercasedNum = num
      num = parseInt(num, 10)
      if (num >= 0 && num <= 20) {
        uppercasedNum = uppercaseArr[num]
      } else {
        Error(`传入的数字（${num}）不是（0-20）的数字类型！`)
      }
      return uppercasedNum
    }
    %>
    <%# 渲染题目列表 %>
    <% groupList.forEach(function(groupItem, tIndex) { %>
      <% if (groupList[0].checkListValue.length > 0 && tIndex == 0) { %>
        <div class="student-info">
          <div class="student-info-fill-blank">
            <% groupList[0].checkListValue.forEach(element => { %>
              <div style="margin-right: 40px;"><%- element %> _______________</div>
            <% }) %>
          </div>
          <div class="seal-line">
            <div class="seal-line-line"></div>
            <div style="margin: 8px;">密</div>
            <div class="seal-line-line"></div>
            <div style="margin: 8px;">封</div>
            <div class="seal-line-line"></div>
            <div style="margin: 8px;">线</div>
            <div class="seal-line-line"></div>
          </div>
        </div>
      <% } %>
      <div data-op-type="mix-box" class="<%= groupList[0].checkListValue.length > 0 ? 'seal-question-box' : 'seal-question-box-normal' %>">
        <%# 处理题型标题 %>
        <div class='big-topic-info' style="line-height: 1.5;">
           <%# 解答题，解答题的总分计算方式不同 %>
          <% if (groupItem.rule == 4) { %>
            <div class='question-type' data-op-type="mix-box">
              <%# 题型标题 %>
              <%- groupItem.categoryName ? `${uppercaseNum(tIndex + 1)}、${groupItem.categoryName}` : "未知题型" %>
              <%# 非答案解析，显示标题详情 %>
              <% if (pdfType != 3) { %>
                （本大题共<%- calQuestionNum(groupItem.questionList) %>小题, 共<%- calScore(groupItem.questionList) %>分）请把答案填在指定区域, 否则视为无效
              <% } %>
            </div>
          <% } else { %>
            <div class='question-type'>
              <%- groupItem.categoryName ? `${uppercaseNum(tIndex + 1)}、${groupItem.categoryName}` : "未知题型" %>
              <% if (pdfType != 3) { %>
                （本大题共<%- calQuestionNum(groupItem.questionList) %>小题, 每题
                <%- groupItem.questionList[0] && existArr(groupItem.questionList[0].materialQuestionList) ?
                    groupItem.questionList[0].materialQuestionList[0].score : 
                    groupItem.questionList[0].score %>分, 共<%- calScore(groupItem.questionList) %>分）请把答案填在指定区域, 否则视为无效
                <% } %>
            </div>
          <% } %>
        </div>
        <%# 渲染试卷模板 %>
        <% if (pdfType == 1) { %>
          <% groupItem.questionList.forEach(function(question) { %>
            <%# 材料题目列表 %>
            <% if (existArr(question.materialQuestionList)) { %>
              <% question.dataContentList.forEach(function(dItem) { %>
                <% if (dItem.type == 'text') { %>
                  <span data-op-type="text" class="material-stem text-line text-line-img">
                    <%- dItem.content %>
                  </span>
                <% } %>
                <% if (dItem.type == 'tag') { %>
                  <span data-op-type="mix-box" class="material-stem text-line text-line-img">
                    <%- dItem.content %>
                  </span>
                <% } %>
              <% }) %>
              <% question.materialQuestionList.forEach(function(materialQuestion) {
                let subjectiveClass = materialQuestion.content ? 'subjective' : 'subjective material-question-list'
                const isSplitMaterialQuestion =  // 是否拆分材料题
                  materialQuestion.smallItem === 1
                  && !materialQuestion.parentId
                  && materialQuestion.childrenList
                  && Array.isArray(materialQuestion.childrenList)
                  && materialQuestion.childrenList.length > 0
              %>
                <% if(isSplitMaterialQuestion) { %>
                  <div class="split-question-box">
                    <% materialQuestion.childrenList.forEach(function(childMaterialQuestion, index) { %>
                      <% if (index === 0) { %>
                        <%- materialQuestion.sequenceCode + '、' + childMaterialQuestion.content %>
                      <% } else { %>
                        <%- childMaterialQuestion.content %>
                      <% } %>
                      <%- include('judge-area', {
                        question: childMaterialQuestion, 
                        size: {
                          width: 96,
                          height: 32
                        }
                      }) %>
                      <% if (index === materialQuestion.childrenList.length - 1) { %>
                        <%- childMaterialQuestion.lastContent %>
                      <% } %>
                    <% }) %>
                  </div>
                  <%# 题目选项 %>
                  <% if (question.optionList && question.optionList.length > 0) { %>
                    <% if (undefined != question.isChild && question.isChild) { %>
                      <div data-op-type="mix-box" style="margin-left: 2rem">
                    <% } else { %>
                      <div data-op-type="mix-box" class="<%- 'option-list-box' %>">
                    <% } %>
                      <% question.optionList.forEach(function(option) {  %>
                        <div data-op-type="text-box" class="text-line text-line-nowrap text-box-img">
                          <%- option.code %> <%- option.content %>
                        </div>
                      <% }); %>
                    </div>
                  <% } %>
                  <br/>
                <% } else { %>
                  <%# 得分格子 %>
                  <% if(materialQuestion.reviewType == 2 && materialQuestion.arrayType == 3) { %>
                    <%- include('score-area', {question: materialQuestion}) %>
                  <% } %>
                  <div
                    class="question-content-box text-line-img"
                    data-op-type="mix-box"
                    questionId="<%- materialQuestion.id %>"
                  >
                    <%# 材料题 %>
                    <%- include('question', {question: materialQuestion}) %>
                    <%# 对错判断 %>
                    <% if(materialQuestion.reviewType == 1 || materialQuestion.reviewType == 3) { %>
                      <%- include('judge-area', {
                        question: materialQuestion,
                        size: {
                          width: 117,
                          height: 39
                        }
                      }) %>
                    <% } %>
                  </div>
                  <%# 分数格子 %>
                  <% if(materialQuestion.reviewType == 2 && materialQuestion.arrayType == 4) { %>
                    <%- include('score-area', {question: materialQuestion}) %>
                  <% } %>
                  <%# 答题区域 %>
                  <% if(materialQuestion.isArea == 1) { %>
                    <%- include('answer-area', {question: materialQuestion}) %>
                  <% } %>
                <% } %>
              <% }) %>
            <% } else { %>
              <%# 普通题目列表（常见） %>
              <% 
                const isSplitQuestion =  // 是否拆分普通题
                  question.smallItem === 1
                  && !question.parentId
                  && question.childrenList
                  && Array.isArray(question.childrenList)
                  && question.childrenList.length > 0
              %>
              <% if(isSplitQuestion) { %>
                <div class="split-question-box">
                  <% question.childrenList.forEach(function(childQuestion, index) { %>
                    <% if (index === 0) { %>
                      <%- question.sequenceCode + '、' + childQuestion.content %>
                    <% } else { %>
                      <%- childQuestion.content %>
                    <% } %>
                    <%- include('judge-area', {
                      question: childQuestion, 
                      size: {
                        width: 96,
                        height: 32
                      }
                    }) %>
                    <% if (index === question.childrenList.length - 1) { %>
                      <%- childQuestion.lastContent %>
                    <% } %>
                  <% }) %>
                </div>
                <%# 题目选项 %>
                <% if (question.optionList && question.optionList.length > 0) { %>
                  <% if (undefined != question.isChild && question.isChild) { %>
                    <div data-op-type="mix-box" style="margin-left: 2rem">
                  <% } else { %>
                    <div data-op-type="mix-box" class="<%- 'option-list-box' %>">
                  <% } %>
                    <% question.optionList.forEach(function(option) {  %>
                      <div data-op-type="text-box" class="text-line text-line-nowrap text-box-img">
                        <%- option.code %> <%- option.content %>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
                <br/>
              <% } else { %>
                <%# 得分格子 %>
                <% if(question.reviewType == 2 && question.arrayType == 3) { %>
                  <%- include('score-area', {question}) %>
                <% } %>
                <div 
                  class="question-content-box text-line-img"
                  data-op-type="mix-box"
                  questionId="<%- question.questionId || question.id %>"
                > 
                  <%# 普通题 %>
                  <%- include('question', {question}) %>
                  <%# 对错判断 %>
                  <% if(question.reviewType == 1 || question.reviewType == 3) { %>
                    <%- include('judge-area', {
                      question,
                      size: {
                        width: 117,
                        height: 39
                      }
                    }) %>
                  <% } %>
                </div>
                <%# 分数格子 %>
                <% if(question.reviewType == 2 && question.arrayType == 4) { %>
                  <%- include('score-area', {question}) %>
                <% } %>
                <%# 答题区域 %>
                <% if(question.isArea == 1) { %>
                  <%- include('answer-area', {question}) %>
                <% } %>
              <% } %>
            <% } %>
          <% }) %>
        <% } else if (pdfType == 2) { %>
          <%# 渲染答题卡模板 %>
          <% if(groupItem.rule == 1) { %>
            <%# 选择题 %>
            <div class="question-group-sheet-box">
          <% } %>
          <% groupItem.questionList.forEach(function(question) { %>
            <%# 材料列表 %>
            <% if (existArr(question.materialQuestionList)) { %>
              <% question.materialQuestionList.forEach(function(materialQuestion) {
                let subjectiveClass = materialQuestion.content ? 'subjective' : 'subjective material-question-list' %>
                <div
                  class="<%- subjectiveClass %>"
                  data-op-type="mix-box"
                  questionId="<%- materialQuestion.questionId || materialQuestion.id %>"
                >
                  <!-- <%- include('question', {question: materialQuestion}); %> -->
                  <div class='answer-box answer-subjective-box question-group-sheet' data-op-type="mix-box">
                    <span><%- materialQuestion.serialCode %>、</span>
                    <textarea 
                      class='answer-area question-group-sheet-item'
                      style="<%- `height:${materialQuestion.height}px;line-height:${materialQuestion.height - 10}px` %>"
                      data-id="<%= materialQuestion.questionId || materialQuestion.id %>"
                      data-type="1"
                      placeholder='作 答 区 域'
                      disabled
                    ></textarea>
                    <textarea 
                      class='answer-area score-area question-group-sheet-item'
                      style="<%- `height:${materialQuestion.height}px;line-height:${materialQuestion.height - 10}px` %>"
                      data-id="<%= materialQuestion.questionId || materialQuestion.id %>"
                      data-type="2"
                      placeholder='打 分 区 域'
                      disabled
                    ></textarea>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div 
                class="<%- groupItem.rule == 1 ? 'question-content-option' : 'subjective' %>"
                data-op-type="mix-box"
                questionId="<%- question.questionId || question.id %>"
              >
                <!--  <%- include('question', {question: question}); %> -->
                <%# 选择题 %>
                <% if(groupItem.rule == 1) { %>
                  <div class="answer-box question-group-sheet" data-op-type="mix-box">
                    <span>
                      <%- question.serialCode %>、
                    </span>
                    <textarea 
                      class="answer-area question-group-sheet-item"
                      style="<%- `width: 160px;height:${question.height}px;line-height:${question.height - 10}px` %>"
                      data-id="<%= question.id %>"
                      data-type="1"
                      placeholder='作 答 区 域'
                      disabled
                    ></textarea>
                  </div>
                <% } else { %>
                  <div class='answer-box answer-subjective-box question-group-sheet' data-op-type="mix-box">
                    <span>
                      <%- question.serialCode %>、
                    </span>
                    <textarea
                      class='answer-area question-group-sheet-item'
                      style="<%- `height:${question.height}px;line-height:${question.height - 10}px` %>"
                      data-id="<%= question.id %>"
                      data-type="1"
                      placeholder='作 答 区 域'
                      disabled
                    ></textarea>
                    <textarea
                      class='answer-area score-area question-group-sheet-item'
                      style="<%- `height:${question.height}px;line-height:${question.height - 10}px` %>"
                      data-id="<%= question.id %>"
                      data-type="2"
                      placeholder='打 分 区 域'
                      disabled
                    ></textarea>
                  </div>
                <% } %>
              </div>
            <% } %>
          <% }) %>
          <% if(groupItem.rule == 1) { %>
            </div>
          <% } %>
        <% } else { %>
          <%# 渲染答案解析模板 %>
          <% groupItem.questionList.forEach(function(question) { %>
            <%# 材料列表 %>
            <% if (existArr(question.materialQuestionList)){ %>
              <% question.materialQuestionList.forEach(function(materialQuestion) { %>
                <div class='answer-parsing-box'  data-op-type="mix-box">
                  <span>
                    <%- materialQuestion.serialCode %>、
                  </span>
                  <%- include('answer', {question: materialQuestion}) %>
                </div>
              <% }) %>
            <% } else { %>
              <div class='answer-parsing-box' data-op-type="mix-box">
                <span>
                  <%- question.serialCode %>、
                </span>
                <%- include('answer', {question: question}) %>
              </div>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    <% }) %>
</div>
</body>
<script type="text/javascript">
  thickenFracLines()
  // 处理水印
  <% if (hasWatermark && hasWatermark == true) { %>
    var checkPdfRenderInterval = setInterval(function () {
      if (window.status === "PDFComplete") {
        console.log("===> 渲染完成")
        clearInterval(checkPdfRenderInterval)
        watermark.load({watermark_txt: "勾勾教学", watermark_width: 100})
      }
    }, 100)
  <% } %>
</script>
<script>
  /**  全部纸张类型，未全量测试，常用ISO_A4
   ISO_A0、ISO_A1、ISO_A2、ISO_A3、ISO_A4、ISO_A5
    ISO_B0、ISO_B1、ISO_B2、ISO_B3、ISO_B4、ISO_B5、ISO_B6、ISO_B7、ISO_B8、ISO_B9、ISO_B10
    ISO_C0、ISO_C1、ISO_C2、ISO_C3、ISO_C4、ISO_C5、ISO_C6、ISO_C7、ISO_DL、ISO_C7_6
    JIS_B0、JIS_B1、JIS_B2、JIS_B3、JIS_B4、JIS_B5、JIS_B6、JIS_B7、JIS_B8、JIS_B9
    NA_LEGAL、NA_LETTER、NA_LEDGER、NA_EXECUTIVE、NA_INVOICE、
    BIG_K32
    **/
  bookConfig = {
    pageSize: '<%= pageSize.format %>',
    // orientation : 'portrait',// landscape
    orientation: '<%= pageSize.orientation %>',
    padding: "16mm 10mm 20mm 10mm",
    // showCatalog : false,
    // textNoBreakChars : ['，','。','：','”','！','？','、','；','》','】','…','.',',','!',']','}','｝'],
    // 简易页码插件，可选（默认未开启），所列选项为开启时的默认值
    simplePageNum: '<%= showPageNum %>' ? {
      pendant: '<div class="page-num-simple"><span style="">第${PAGE}页 / 共${TOTAL_PAGE}页 </span></div>',
    } : false,
    toolBar: {
      serverPrint: false,
      webPrint: false,
      saveHtml: false,
    },
    start: false
  }
  window.onload = function () {
    setTimeout(() => {
      bookConfig.start = true;
    }, 500)
  }
</script>
</html>
